<form
  onsubmit="console.log('submitted')"
  action="/"
  target="addBook"
  id="addBook"
>
  <input type="submit" hidden="true" />
  <table>
    <tbody>
      <tr>
        <td class="back">
          <a routerLink="/booklist"><button>Back</button></a>
        </td>
      </tr>
      <tr>
        <td>Book Name:</td>
      </tr>
      <tr>
        <td>
          <input
            form="addBook"
            id="book_name"
            type="text"
            pattern="[0-z .]{2,}"
            [(ngModel)]="name"
            name="bookName"
            required
          />
        </td>
      </tr>
      <tr>
        <td>Author Name:</td>
      </tr>
      <tr>
        <td>
          <input
            form="addBook"
            id="author_name"
            type="text"
            pattern="[0-z .]{2,}"
            required
            [(ngModel)]="author"
            name="authorName"
          />
        </td>
      </tr>
      <tr>
        <td>Page Count:</td>
      </tr>
      <tr>
        <td>
          <input
            form="addBook"
            id="page_count"
            type="text"
            pattern="[0-9]+"
            required
            [(ngModel)]="pageCount"
            name="pageCount"
          />
        </td>
      </tr>
      <tr>
        <td>Read?</td>
      </tr>
      <tr>
        <td>
          <input
            form="addBook"
            type="checkbox"
            name="readStatus"
            [(ngModel)]="readStatus"
          />
        </td>
      </tr>
      <tr>
        <button (click)="submit()">Add</button>
      </tr>
    </tbody>
  </table>
</form>
